* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  display: block;
}

header {
  display: flex;
  background-color: black;
  flex-flow: row wrap;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid seashell;
  z-index: 10;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}
.navigation span {
  padding: 0px 30px 0px 15px;
}

.logo img {
  height: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid red;
  justify-content: center;
  position: relative;
  top: 70px;
}

.mainpic {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url(../images/img-mission-background.jpg);
  align-items: center;
  flex-shrink: 2;
}

.mainpic .mission {
  display: flex;
  background-color: black;
  width: 1200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
h2,
h4 {
  padding: 5px;
  }

.seasonalTea {
  display: flex;
  width: 1000px;
  border: 5px solid blue;
  flex-direction: column;
}

.teas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 5px dotted pink;
}

.tea img {
  width: 300px;
  height: 200px;
}
